<div class="row">
    <div class="card col-md-12">
        <paper-shadow>
            <div class="row">
                <paper-input class="col-md-5" ng-model="member.first" label="First Name" floatingLabel="true"></paper-input>
                <paper-input class="col-md-5 col-md-offset-1" ng-model="member.last" label="Last Name" floatingLabel="true"></paper-input>
                <paper-input class="col-md-5" ng-model="member.company" label="Company" floatingLabel="true"></paper-input>
            </div>
        </paper-shadow>
    </div>
</div>